<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns: layout:decorate="layout/layout">
</head>>
<head>
    <meta charset="UTF-8">
    <title>Grocefy</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 col-lg-offset-3" th:if="${noAccess}">
                <p class="alert alert-danger" >[[#{editList.noAccess}]]</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12">
                <h3>[[#{index.addList}]]</h3>
            </div>

            <form action="#" th:action="@{/list/new}" th:object="${newList}" th:method="post" class="form-inline">
                <div class="form-group">
                    <label th:for="*{name}">[[#{index.listName}]]</label>
                    <input type="text" th:field="*{name}" th:id="*{name}" required class="form-control">
                </div>
                <div class="form-group">
                    <label th:for="${isPublic}">[[#{index.isPublic}]]</label>
                    <input th:type="checkbox" th:field="*{isPublic}" th:id="*{isPublic}">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" th:value="#{index.addNewList}"/>
                </div>
            </form>
        </div>
        <div class="row text-center">
            <div class="col-lg-6 col-lg-offset-3">
                <h3>[[#{index.savedLists}]]</h3>
                <div class="center-block">
                <p class="alert alert-info" th:if="${#lists.isEmpty(lists)}">[[#{index.savedLists.empty}]]</p>
                </div>
                <div th:if="${not #lists.isEmpty(lists)}" class="table-responsive ">
                    <table id="listTable" class="table">
                        <thead>
                        <tr>
                            <th>[[#{index.savedLists.no}]]</th>
                            <th>[[#{index.savedLists.title}]]</th>
                            <th>[[#{index.savedLists.hash}]]</th>
                            <th>[[#{index.savedLists.editBtn}]]</th>
                            <th>[[#{index.savedLists.delBtn}]]</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="list, rowStat : ${lists}" th:style="${rowStat.odd} ? 'color: #999999' : 'color: #5F5F5F;'">
                            <td th:text="${rowStat.index}+1">1</td>
                            <td th:text="${list.name}+' '+ ${list.isPublic? #messages.msg('index.list.public.status.public'): #messages.msg('index.list.public.status.private')}">lista</td>
                            <td><a th:href="@{/list/}+${list.hash}" th:text="${list.hash}"></a> </td>
                            <td><form th:action="@{/list/edit/}+${list.hash}" th:method="get"><input th:type="submit" class="btn btn-warning" th:value="#{index.savedLists.editBtn}"/></form></td>
                            <td><form th:action="@{/list/del/}+${list.hash}" th:method="post" ><input th:type="submit" class="btn btn-danger" th:value="#{index.savedLists.delBtn}"/> </form></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
