<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns: layout:decorate="layout/layout">
</head>>
<head>
    <meta charset="UTF-8">
    <title>Grocefy</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h3>[[#{index.addList}]]</h3>
            </div>

            <form action="#" th:action="@{/list/new}" th:object="${newList}" th:method="post">

                <div class="col-sm-12 col-lg-6 text-center">
                    <label th:for="*{name}">[[#{index.listName}]]</label>
                    <input type="text" th:field="*{name}" required>
                </div>
                <div class="col-sm-12 col-lg-6 text-center">
                    <input type="submit" class="btn btn-success" th:value="#{index.addNewList}"/>
                </div>
            </form>
            <div class="col-sm-12">
                <h3>[[#{index.savedLists}]]</h3>
                <div class="row col-md-7 table-responsive ">
                    <table id="listTable" class="table">
                        <thead>
                        <tr>
                            <th>[[#{index.savedLists.no}]]</th>
                            <th>[[#{index.savedLists.title}]]</th>
                            <th>[[#{index.savedLists.hash}]]</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="list, rowStat : ${lists}" th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
                            <td th:text="${rowStat.index}+1">1</td>
                            <td th:text="${list.name}">lista</td>
                            <td><a th:href="@{/list/}+${list.hash}" th:text="${list.hash}"></a> </td>
                            <td><form th:action="@{/list/edit/}+${list.hash}" th:method="get"><input th:type="submit" class="btn btn-warning" th:value="#{index.savedLists.editBtn}"/></form></td>
                            <td><form th:action="@{/list/del/}+${list.hash}" th:method="post" ><input th:type="submit" class="btn btn-danger" th:value="#{index.savedLists.delBtn}"/> </form></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
