<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      layout:decorate="layout/layout"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div align="center">
            <div class="row" style="display: flex">
                <div class="col-lg-4 center-block">
                    <div class="alert alert-success" th:if="${success}">
                        <p>[[#{register.validation.success}]]</p>
                    </div>

                    <form th:action="@{/login}" method="post" th:object="${loginInfo}">
                        <div class="form-group ">
                            <label>[[#{login.username}]]</label>
                            <input type="text" th:field="*{username}" id="username" class="form-control"
                                   th:placeholder="#{login.username}"/>
                        </div>
                        <br/>
                        <div class="form-group">
                            <label>[[#{login.password}]]</label>
                            <input th:type="password" th:field="*{password}" id="password" class="form-control"
                                   th:placeholder="#{login.password}"/>
                            <br/>
                        </div>
                        <button th:type="submit" class="btn btn-success">[[#{login.loginBtn}]]</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>